.container {
  min-height: 100vh;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input, .output {
  display: flex;
  font-size: 24px;
  margin: 10px 0;
}

.inputFaild, .outputFaild {
  display: block;
  width: 200px;
  height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  border: 3px solid #999;
  font-size: 24px;
}
